In [1]:
x=10

In [3]:
print(x)

10

In [5]:
x=[10,20,30]
print(x)

[10, 20, 30]

In [19]:
x=[10,20,"india", 40]
print(x)

[10, 20, 'india', 40]

In [21]:
x=[10,20,"india", 40]
print(x)
print(x[0])
print(x[3])
type(x[2])

[10, 20, 'india', 40]
10
40

str

In [23]:
print(x[-1])

40

In [25]:
x=["apple","mango","coconut"]
x[1]

'mango'

In [27]:
x=["adam","jhon",20,"mumbai","BBA"
]
print(x[0]+' '+x[1])

adam jhon

In [30]:
x=input("Enter your first name")
y=input("your 2nd name")
z=input("enter your age")
A=["first","second","age"]
A[0]=x
A[1]=y
A[2]=z
print(A)

Enter your first nameadam
your 2nd namejohn
enter your age20
['adam', 'john', '20']

In [33]:
x=[1,23,45,65,56]
print(x[1:4])

[23, 45, 65]

In [35]:
x[1:3]

[23, 45]

In [37]:
x[1:2]

[23]

In [39]:
x[:4]

[1, 23, 45, 65]

In [41]:
x[2:]

[45, 65, 56]

In [43]:
x=[1,23,45,65,56]
print(x[2:len(x)])

[45, 65, 56]

In [45]:
x=[1,43,56,54,85,31]
len(x)

6

In [48]:
x[1]=[20]

In [50]:
print(x[1])

[20]

In [52]:
x[1:3]=[3,45,5]

In [55]:
print(x[1:3])

[3, 45]

In [57]:
print(x)

[1, 3, 45, 5, 5, 54, 85, 31]

In [92]:
x=["adam","john","albert"]

In [95]:
x.append("mary")

In [94]:
x

['adam', 'john', 'albert']

In [96]:
x.append("abraham")#TO add at the end of list

In [86]:
x

['adam', 'john', 'albert', 'mary', 'abraham']

In [109]:
x.insert(1,"george")#to insert in particular area

In [99]:
x

['adam', 'george', 'john', 'albert', 'mary', 'abraham']

In [101]:
x=["adam","george"]
y=["john","mary"]
x.extend(y)#to join 2 list

In [103]:
x

['adam', 'george', 'john', 'mary']

In [107]:
x=['adam', 'george', 'john', 'albert', 'mary', 'abraham']
x.remove("george")#to remove using name
print(x)

['adam', 'john', 'albert', 'mary', 'abraham']

In [110]:
x=['adam', 'george', 'john', 'albert', 'mary', 'abraham']
x.pop(3)#to remove using index value
print(x)

['adam', 'george', 'john', 'mary', 'abraham']

In [112]:
x=['adam', 'george', 'john', 'albert', 'mary', 'abraham']
del(x[0])#to delete using index value
print(x)

['george', 'john', 'albert', 'mary', 'abraham']

In [115]:
x=['adam', 'george', 'john', 'albert', 'mary', 'abraham']
x.sort()#to make it in order
print(x)

['abraham', 'adam', 'albert', 'george', 'john', 'mary']

In [118]:
x=['adam', 'george', 'john', 'albert', 'mary', 'abraham']
x.sort(reverse=True)
print(x)

['mary', 'john', 'george', 'albert', 'adam', 'abraham']

In [121]:
y=x.copy()#to make a copy of existing data
print(y)

['mary', 'john', 'george', 'albert', 'adam', 'abraham']

In [125]:
x=[4,5,2,7,2,7,3,7]
x.count(7)#to find repetation of same value

3

In [128]:
x=[4,7,9,2]
x[1]=8
print(x)

[4, 8, 9, 2]

In [130]:
x={4,5,2,7,2,7,3,7}
x#curly barce will avoide dupli and sort automatically

{2, 3, 4, 5, 7}

In [132]:
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [136]:
x=0
total_sum=0
while x <100:
  total_sum = total_sum +x
  x=x+1
  print(total_sum)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950

In [141]:
x=['john','adam','mary','george']
i=0
while i < len (x) :
  print(x[i])
  i=i+1

john
adam
mary
george

In [142]:
x=['john','adam',29,340000]
i=0
while i < len(x):
  print(x[i])
  i=i+1

john
adam
29
340000