In [11]:
x="\"Jeswin Thomas\"Angadiparambil"
print(x)

"Jeswin Thomas"Angadiparambil

In [13]:
x='he\'s a doctor'
print(x)

he's a doctor

In [19]:
print("Jeswin Thomas \n Angadiparambil")

Jeswin Thomas
 Angadiparambil

In [20]:
x=["John","Mary","David","Adam"]
a=input("enter a name:")
p=int(input("Enter Index Position :"))
x.insert(p,a)
print(x)

enter a name:Noel
Enter Index Position :2
['John', 'Mary', 'Noel', 'David', 'Adam']

In [21]:
def Jeswin():
  x=["John","Mary","David","Adam"]
  a=input("enter a name:")
  p=int(input("Enter Index Position :"))
  x.insert(p,a)
  print(x)

In [23]:
Jeswin()

enter a name:Jeswin
Enter Index Position :3
['John', 'Mary', 'David', 'Jeswin', 'Adam']

In [26]:
def Zahra(x,y):
  print(x+y)
  print(x-y)
  print(x*y)
  print(x/y)

In [25]:
Zahra()

Enter a number: 5
Enter another number: 2
7
3
10
2.5

In [27]:
a=int(input("Enter a number: "))
b=int(input("Enter another number: "))
Zahra(a,b)

Enter a number: 5
Enter another number: 2
7
3
10
2.5

In [29]:
def add(x,y):
  print(x+y)
def sub(x,y):
  print(x-y)
def mul(x,y):
  print(x*y)
def div(x,y):
  print(x/y)

In [30]:
a=int(input("Enter a number: "))
b=int(input("Enter another number: "))
add(a,b)
sub(a,b)
mul(a,b)
div(a,b)

Enter a number: 11
Enter another number: 22
33
-11
242
0.5